# Air Quality and COVID-19 Infection Rates
For this project, our goal is to investigate a possible relationship between Air Quality and COVID-19 Infection Rates. To that end, we will merge an Air Quality dataset with a COVID-19 dataset, train a linear regression model on the merged dataset, and perform predictions to test the accuracy of our model.

Some thoughts about the web app:
- Perhaps an app where Air Quality features and COVID-19 cases are the independent variables while COVID-19 infection rate (%) is the dependent variable.
- Sliders and input fields would be used for the independent variables.

**Important:** Because this is an exploratory project, we are not absolutely certain that there exists a significant relationship between Air Quality and COVID-19 datasets. Furthermore, our results, significant or not, can only lend support to hypotheses surrounding Air Quality and COVID-19.

For full project motivations, please see `CS180_G16_ProjectProposal.pdf`.

In [16]:
%reset -f
%config InteractiveShell.ast_node_interactivity = 'all'

def newline(): print("---------------------------\n")

import pandas as pd
dataA = pd.read_csv('datasets/A-WHO-air-quality.csv')
dataB = pd.read_csv('datasets/B-WHO-covid-infections-deaths.csv')

print("Dataset A: WHO Air Quality (2023)")
print("Dataset A Contents")
dataA.head()
print("Additional Details")
dataA.describe()
dataA.info()

newline()

print("Dataset B: WHO COVID-19 Cases and Deaths (2023)")
print("Dataset B Contents")
dataB.head()
print("Additional Details")
dataB.describe()
dataB.info()

Dataset A: WHO Air Quality (2023)
Dataset A Contents

,who_region,iso3,country_name,city,year,version,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,type_of_stations,reference,web_link,population,population_source,latitude,longitude,who_ms
0,3_Sear,IND,India,Chennai,2018,version 2022,NaN,30.0,NaN,NaN,91.0,NaN,NaN,"U.S. Department of State, United States Enviro...",https://www.airnow.gov/index.cfm?action=airnow...,9890427.0,NaN,13.087840,80.278470,1
1,3_Sear,IND,India,Solapur,2016,"version 2022, version 2018",NaN,39.0,NaN,NaN,99.0,NaN,NaN,"Central Pollution Control Board India, Environ...",NaN,985568.0,NaN,17.659919,75.906391,1
2,3_Sear,IND,India,Chennai,2019,version 2022,NaN,39.0,NaN,NaN,85.0,NaN,NaN,"U.S. Department of State, United States Enviro...","[[[""EPA AirNow DOS"",""http://airnow.gov/index.c...",9890427.0,NaN,13.087840,80.278470,1
3,3_Sear,IND,India,Hyderabad,2019,version 2022,NaN,42.0,NaN,NaN,87.0,NaN,NaN,"U.S. Department of State, United States Enviro...","[[[""EPA AirNow DOS"",""http://airnow.gov/index.c...",8943523.0,NaN,17.384050,78.456360,1
4,3_Sear,IND,India,Pune,2017,version 2022,NaN,43.0,NaN,NaN,NaN,NaN,NaN,"Central Pollution Control Board India, Environ...",http://www.cpcb.gov.in/CAAQM/,5727530.0,NaN,18.505320,73.823839,1

Additional Details

,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,population,population_source,latitude,longitude,who_ms
count,41364.000000,28177.000000,21566.000000,26704.000000,21344.000000,16114.000000,22991.000000,1.716100e+04,0.0,41115.000000,41112.000000,41364.000000
mean,2016.205710,30.687510,19.977822,18.790743,93.146317,92.542323,93.863903,7.858431e+05,NaN,40.742536,12.025232,0.999782
std,3.120684,30.371733,17.907894,11.909244,9.764701,10.824490,8.141595,2.145706e+06,NaN,16.882423,57.469974,0.014749
min,2000.000000,1.000000,0.000000,0.000000,10.000000,10.000000,11.000000,0.000000e+00,NaN,-76.010867,-159.366240,0.000000
25%,2014.000000,16.000000,9.000000,10.000000,92.000000,91.000000,93.000000,3.129200e+04,NaN,37.156800,-0.808600,1.000000
50%,2016.000000,22.000000,13.000000,17.000000,97.000000,97.000000,96.000000,1.590630e+05,NaN,43.839700,10.881700,1.000000
75%,2019.000000,31.000000,25.000000,25.000000,99.000000,99.000000,99.000000,6.252900e+05,NaN,49.227045,24.179000,1.000000
max,2022.000000,540.000000,436.000000,211.000000,100.000000,100.000000,100.000000,3.800102e+07,NaN,176.891634,178.450000,1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41364 entries, 0 to 41363
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   who_region          41364 non-null  object
 1   iso3                41364 non-null  object
 2   country_name        41364 non-null  object
 3   city                41252 non-null  object
 4   year                41364 non-null  int64
 5   version             41219 non-null  object
 6   pm10_concentration  28177 non-null  float64
 7   pm25_concentration  21566 non-null  float64
 8   no2_concentration   26704 non-null  float64
 9   pm10_tempcov        21344 non-null  float64
 10  pm25_tempcov        16114 non-null  float64
 11  no2_tempcov         22991 non-null  float64
 12  type_of_stations    29459 non-null  object
 13  reference           40538 non-null  object
 14  web_link            31983 non-null  object
 15  population          17161 non-null  float64
 16  population_source   0 non-null      float64
 17  latitude            41115 non-null  float64
 18  longitude           41112 non-null  float64
 19  who_ms              41364 non-null  int64
dtypes: float64(10), int64(2), object(8)
memory usage: 6.3+ MB
---------------------------

Dataset B: WHO COVID-19 Cases and Deaths (2023)
Dataset B Contents

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

Additional Details

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.950650e+05      2.950650e+05  295065.000000       2.950650e+05
mean   2.600664e+03      1.306386e+06      23.514659       1.698745e+04
std    3.850699e+04      6.086080e+06     142.754287       7.238070e+04
min   -1.136000e+04      0.000000e+00   -3520.000000       0.000000e+00
25%    0.000000e+00      1.733000e+03       0.000000       1.400000e+01
50%    9.000000e+00      3.122100e+04       0.000000       3.450000e+02
75%    3.290000e+02      3.562440e+05       3.000000       5.280000e+03
max    6.966046e+06      1.034368e+08   11447.000000       1.127152e+06

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295065 entries, 0 to 295064
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      295065 non-null  object
 1   Country_code       293820 non-null  object
 2   Country            295065 non-null  object
 3   WHO_region         295065 non-null  object
 4   New_cases          295065 non-null  int64
 5   Cumulative_cases   295065 non-null  int64
 6   New_deaths         295065 non-null  int64
 7   Cumulative_deaths  295065 non-null  int64
dtypes: int64(4), object(4)
memory usage: 18.0+ MB