In [30]:
%reset -f
%config InteractiveShell.ast_node_interactivity = 'all'

# Fetching all Air Quality datasets into their dataframes
# Perform immediate concatenation per year
import os
import pandas as pd

# Initialize
initpath = 'NYData/ny-2020-co.csv'
colidx = [0,4,5,6,11,15,17]
dataA = pd.read_csv(initpath, parse_dates=True, usecols=colidx)

with os.scandir('NYData') as datasets:
    for dataset in datasets:
        if dataset.is_file() and ('NYData/' + dataset.name) != initpath:
            temp = pd.read_csv(dataset, parse_dates=True,
                               usecols=colidx)
            temp

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2020,18.1,ppb,17,Nitrogen dioxide (NO2),New York,Bronx
1,01/02/2020,40.6,ppb,38,Nitrogen dioxide (NO2),New York,Bronx
2,01/03/2020,38.5,ppb,36,Nitrogen dioxide (NO2),New York,Bronx
3,01/04/2020,30.7,ppb,28,Nitrogen dioxide (NO2),New York,Bronx
4,01/05/2020,20.8,ppb,19,Nitrogen dioxide (NO2),New York,Bronx
...,...,...,...,...,...,...,...
2357,12/26/2020,15.7,ppb,14,Nitrogen dioxide (NO2),New York,Queens
2358,12/27/2020,37.9,ppb,35,Nitrogen dioxide (NO2),New York,Queens
2359,12/28/2020,36.2,ppb,34,Nitrogen dioxide (NO2),New York,Queens
2360,12/30/2020,37.6,ppb,35,Nitrogen dioxide (NO2),New York,Queens
2361,12/31/2020,29.2,ppb,27,Nitrogen dioxide (NO2),New York,Queens

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,02/01/2020,0.019,ppm,18,Ozone,New York,Albany
1,02/02/2020,0.029,ppm,27,Ozone,New York,Albany
2,02/03/2020,0.032,ppm,30,Ozone,New York,Albany
3,02/04/2020,0.031,ppm,29,Ozone,New York,Albany
4,02/05/2020,0.033,ppm,31,Ozone,New York,Albany
...,...,...,...,...,...,...,...
9667,12/26/2020,0.024,ppm,22,Ozone,New York,Westchester
9668,12/27/2020,0.026,ppm,24,Ozone,New York,Westchester
9669,12/28/2020,0.026,ppm,24,Ozone,New York,Westchester
9670,12/29/2020,0.035,ppm,32,Ozone,New York,Westchester
9671,12/30/2020,0.024,ppm,22,Ozone,New York,Westchester

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/04/2020,13,ug/m3 SC,12,PM10 Total 0-10um STP,New York,Bronx
1,01/10/2020,17,ug/m3 SC,16,PM10 Total 0-10um STP,New York,Bronx
2,01/22/2020,23,ug/m3 SC,21,PM10 Total 0-10um STP,New York,Bronx
3,01/28/2020,3,ug/m3 SC,3,PM10 Total 0-10um STP,New York,Bronx
4,02/03/2020,16,ug/m3 SC,15,PM10 Total 0-10um STP,New York,Bronx
...,...,...,...,...,...,...,...
238,12/05/2020,6,ug/m3 SC,6,PM10 Total 0-10um STP,New York,Queens
239,12/11/2020,23,ug/m3 SC,21,PM10 Total 0-10um STP,New York,Queens
240,12/17/2020,4,ug/m3 SC,4,PM10 Total 0-10um STP,New York,Queens
241,12/23/2020,10,ug/m3 SC,9,PM10 Total 0-10um STP,New York,Queens
242,12/29/2020,6,ug/m3 SC,6,PM10 Total 0-10um STP,New York,Queens

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2020,1.9,ug/m3 LC,8,PM2.5 - Local Conditions,New York,Albany
1,01/04/2020,9.6,ug/m3 LC,40,PM2.5 - Local Conditions,New York,Albany
2,01/07/2020,5.0,ug/m3 LC,21,PM2.5 - Local Conditions,New York,Albany
3,01/10/2020,5.2,ug/m3 LC,22,PM2.5 - Local Conditions,New York,Albany
4,01/13/2020,4.0,ug/m3 LC,17,PM2.5 - Local Conditions,New York,Albany
...,...,...,...,...,...,...,...
11124,12/27/2020,11.0,ug/m3 LC,46,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11125,12/28/2020,10.7,ug/m3 LC,45,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11126,12/29/2020,5.8,ug/m3 LC,24,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11127,12/30/2020,5.6,ug/m3 LC,23,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11128,12/31/2020,9.3,ug/m3 LC,39,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2020,0.2,ppb,0,Sulfur dioxide,New York,Albany
1,01/02/2020,0.6,ppb,0,Sulfur dioxide,New York,Albany
2,01/03/2020,0.5,ppb,0,Sulfur dioxide,New York,Albany
3,01/04/2020,0.5,ppb,0,Sulfur dioxide,New York,Albany
4,01/05/2020,0.2,ppb,0,Sulfur dioxide,New York,Albany
...,...,...,...,...,...,...,...
6439,12/27/2020,0.6,ppb,0,Sulfur dioxide,New York,Suffolk
6440,12/28/2020,0.6,ppb,0,Sulfur dioxide,New York,Suffolk
6441,12/29/2020,0.2,ppb,0,Sulfur dioxide,New York,Suffolk
6442,12/30/2020,0.5,ppb,0,Sulfur dioxide,New York,Suffolk
6443,12/31/2020,0.1,ppb,0,Sulfur dioxide,New York,Suffolk

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2021,0.3,ppm,3,Carbon monoxide,New York,Bronx
1,01/02/2021,0.4,ppm,5,Carbon monoxide,New York,Bronx
2,01/03/2021,0.2,ppm,2,Carbon monoxide,New York,Bronx
3,01/04/2021,0.2,ppm,2,Carbon monoxide,New York,Bronx
4,01/05/2021,0.2,ppm,2,Carbon monoxide,New York,Bronx
...,...,...,...,...,...,...,...
3469,12/27/2021,0.2,ppm,2,Carbon monoxide,New York,Suffolk
3470,12/28/2021,0.2,ppm,2,Carbon monoxide,New York,Suffolk
3471,12/29/2021,0.2,ppm,2,Carbon monoxide,New York,Suffolk
3472,12/30/2021,0.3,ppm,3,Carbon monoxide,New York,Suffolk
3473,12/31/2021,0.3,ppm,3,Carbon monoxide,New York,Suffolk

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2021,25.1,ppb,24,Nitrogen dioxide (NO2),New York,Bronx
1,01/02/2021,27.5,ppb,25,Nitrogen dioxide (NO2),New York,Bronx
2,01/03/2021,19.4,ppb,18,Nitrogen dioxide (NO2),New York,Bronx
3,01/04/2021,20.8,ppb,19,Nitrogen dioxide (NO2),New York,Bronx
4,01/05/2021,28.6,ppb,26,Nitrogen dioxide (NO2),New York,Bronx
...,...,...,...,...,...,...,...
2591,12/26/2021,10.6,ppb,9,Nitrogen dioxide (NO2),New York,Suffolk
2592,12/27/2021,9.0,ppb,8,Nitrogen dioxide (NO2),New York,Suffolk
2593,12/28/2021,13.1,ppb,12,Nitrogen dioxide (NO2),New York,Suffolk
2594,12/29/2021,17.3,ppb,16,Nitrogen dioxide (NO2),New York,Suffolk
2595,12/30/2021,14.5,ppb,13,Nitrogen dioxide (NO2),New York,Suffolk

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2021,0.027,ppm,25,Ozone,New York,Albany
1,01/02/2021,0.030,ppm,28,Ozone,New York,Albany
2,01/03/2021,0.028,ppm,26,Ozone,New York,Albany
3,01/04/2021,0.024,ppm,22,Ozone,New York,Albany
4,01/05/2021,0.028,ppm,26,Ozone,New York,Albany
...,...,...,...,...,...,...,...
10235,12/26/2021,0.028,ppm,26,Ozone,New York,Westchester
10236,12/27/2021,0.023,ppm,21,Ozone,New York,Westchester
10237,12/28/2021,0.013,ppm,12,Ozone,New York,Westchester
10238,12/29/2021,0.016,ppm,15,Ozone,New York,Westchester
10239,12/30/2021,0.005,ppm,5,Ozone,New York,Westchester

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/04/2021,6,ug/m3 SC,6,PM10 Total 0-10um STP,New York,Bronx
1,01/10/2021,6,ug/m3 SC,6,PM10 Total 0-10um STP,New York,Bronx
2,01/16/2021,8,ug/m3 SC,7,PM10 Total 0-10um STP,New York,Bronx
3,01/22/2021,9,ug/m3 SC,8,PM10 Total 0-10um STP,New York,Bronx
4,01/28/2021,6,ug/m3 SC,6,PM10 Total 0-10um STP,New York,Bronx
...,...,...,...,...,...,...,...
286,12/06/2021,16,ug/m3 SC,15,PM10 Total 0-10um STP,New York,Queens
287,12/12/2021,3,ug/m3 SC,3,PM10 Total 0-10um STP,New York,Queens
288,12/18/2021,8,ug/m3 SC,7,PM10 Total 0-10um STP,New York,Queens
289,12/24/2021,12,ug/m3 SC,11,PM10 Total 0-10um STP,New York,Queens
290,12/30/2021,17,ug/m3 SC,16,PM10 Total 0-10um STP,New York,Queens

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2021,7.1,ug/m3 LC,30,PM2.5 - Local Conditions,New York,Albany
1,01/04/2021,9.8,ug/m3 LC,41,PM2.5 - Local Conditions,New York,Albany
2,01/07/2021,2.1,ug/m3 LC,9,PM2.5 - Local Conditions,New York,Albany
3,01/10/2021,4.7,ug/m3 LC,20,PM2.5 - Local Conditions,New York,Albany
4,01/13/2021,19.7,ug/m3 LC,67,PM2.5 - Local Conditions,New York,Albany
...,...,...,...,...,...,...,...
11244,12/27/2021,5.7,ug/m3 LC,24,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11245,12/28/2021,8.6,ug/m3 LC,36,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11246,12/29/2021,9.8,ug/m3 LC,41,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11247,12/30/2021,8.8,ug/m3 LC,37,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11248,12/31/2021,11.6,ug/m3 LC,48,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2021,0.7,ppb,0,Sulfur dioxide,New York,Albany
1,01/02/2021,0.3,ppb,0,Sulfur dioxide,New York,Albany
2,01/03/2021,1.8,ppb,1,Sulfur dioxide,New York,Albany
3,01/04/2021,0.3,ppb,0,Sulfur dioxide,New York,Albany
4,01/05/2021,0.2,ppb,0,Sulfur dioxide,New York,Albany
...,...,...,...,...,...,...,...
6146,12/27/2021,0.0,ppb,0,Sulfur dioxide,New York,Steuben
6147,12/28/2021,0.0,ppb,0,Sulfur dioxide,New York,Steuben
6148,12/29/2021,0.0,ppb,0,Sulfur dioxide,New York,Steuben
6149,12/30/2021,0.0,ppb,0,Sulfur dioxide,New York,Steuben
6150,12/31/2021,0.0,ppb,0,Sulfur dioxide,New York,Steuben

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2022,0.4,ppm,5,Carbon monoxide,New York,Bronx
1,01/02/2022,0.4,ppm,5,Carbon monoxide,New York,Bronx
2,01/03/2022,0.4,ppm,5,Carbon monoxide,New York,Bronx
3,01/04/2022,0.4,ppm,5,Carbon monoxide,New York,Bronx
4,01/05/2022,0.5,ppm,6,Carbon monoxide,New York,Bronx
...,...,...,...,...,...,...,...
3591,12/27/2022,0.2,ppm,2,Carbon monoxide,New York,Suffolk
3592,12/28/2022,0.3,ppm,3,Carbon monoxide,New York,Suffolk
3593,12/29/2022,0.3,ppm,3,Carbon monoxide,New York,Suffolk
3594,12/30/2022,0.4,ppm,5,Carbon monoxide,New York,Suffolk
3595,12/31/2022,0.3,ppm,3,Carbon monoxide,New York,Suffolk

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2022,24.3,ppb,23,Nitrogen dioxide (NO2),New York,Bronx
1,01/02/2022,22.7,ppb,21,Nitrogen dioxide (NO2),New York,Bronx
2,01/03/2022,14.3,ppb,13,Nitrogen dioxide (NO2),New York,Bronx
3,01/04/2022,42.1,ppb,40,Nitrogen dioxide (NO2),New York,Bronx
4,01/05/2022,52.6,ppb,49,Nitrogen dioxide (NO2),New York,Bronx
...,...,...,...,...,...,...,...
2745,12/26/2022,18.6,ppb,17,Nitrogen dioxide (NO2),New York,Suffolk
2746,12/27/2022,27.6,ppb,25,Nitrogen dioxide (NO2),New York,Suffolk
2747,12/28/2022,26.8,ppb,25,Nitrogen dioxide (NO2),New York,Suffolk
2748,12/29/2022,21.4,ppb,20,Nitrogen dioxide (NO2),New York,Suffolk
2749,12/30/2022,34.5,ppb,32,Nitrogen dioxide (NO2),New York,Suffolk

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2022,0.012,ppm,11,Ozone,New York,Albany
1,01/02/2022,0.031,ppm,29,Ozone,New York,Albany
2,01/03/2022,0.031,ppm,29,Ozone,New York,Albany
3,01/04/2022,0.028,ppm,26,Ozone,New York,Albany
4,01/05/2022,0.027,ppm,25,Ozone,New York,Albany
...,...,...,...,...,...,...,...
10028,12/27/2022,0.029,ppm,27,Ozone,New York,Westchester
10029,12/28/2022,0.016,ppm,15,Ozone,New York,Westchester
10030,12/29/2022,0.012,ppm,11,Ozone,New York,Westchester
10031,12/30/2022,0.012,ppm,11,Ozone,New York,Westchester
10032,12/31/2022,0.000,ppm,0,Ozone,New York,Westchester

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/05/2022,12,ug/m3 SC,11,PM10 Total 0-10um STP,New York,Bronx
1,01/11/2022,11,ug/m3 SC,10,PM10 Total 0-10um STP,New York,Bronx
2,01/17/2022,8,ug/m3 SC,7,PM10 Total 0-10um STP,New York,Bronx
3,01/23/2022,16,ug/m3 SC,15,PM10 Total 0-10um STP,New York,Bronx
4,01/29/2022,9,ug/m3 SC,8,PM10 Total 0-10um STP,New York,Bronx
...,...,...,...,...,...,...,...
281,12/07/2022,9,ug/m3 SC,8,PM10 Total 0-10um STP,New York,Queens
282,12/13/2022,9,ug/m3 SC,8,PM10 Total 0-10um STP,New York,Queens
283,12/19/2022,7,ug/m3 SC,6,PM10 Total 0-10um STP,New York,Queens
284,12/25/2022,10,ug/m3 SC,9,PM10 Total 0-10um STP,New York,Queens
285,12/31/2022,17,ug/m3 SC,16,PM10 Total 0-10um STP,New York,Queens

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/02/2022,3.0,ug/m3 LC,13,PM2.5 - Local Conditions,New York,Albany
1,01/05/2022,7.9,ug/m3 LC,33,PM2.5 - Local Conditions,New York,Albany
2,01/08/2022,3.9,ug/m3 LC,16,PM2.5 - Local Conditions,New York,Albany
3,01/11/2022,6.1,ug/m3 LC,25,PM2.5 - Local Conditions,New York,Albany
4,01/14/2022,12.7,ug/m3 LC,52,PM2.5 - Local Conditions,New York,Albany
...,...,...,...,...,...,...,...
11074,12/27/2022,9.3,ug/m3 LC,39,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11075,12/28/2022,12.9,ug/m3 LC,53,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11076,12/29/2022,15.5,ug/m3 LC,58,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11077,12/30/2022,19.1,ug/m3 LC,66,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester
11078,12/31/2022,13.3,ug/m3 LC,54,Acceptable PM2.5 AQI & Speciation Mass,New York,Westchester

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_DESC,STATE,COUNTY
0,01/01/2022,0.4,ppb,0,Sulfur dioxide,New York,Bronx
1,01/02/2022,0.5,ppb,0,Sulfur dioxide,New York,Bronx
2,01/03/2022,1.8,ppb,1,Sulfur dioxide,New York,Bronx
3,01/04/2022,1.2,ppb,1,Sulfur dioxide,New York,Bronx
4,01/05/2022,1.8,ppb,1,Sulfur dioxide,New York,Bronx
...,...,...,...,...,...,...,...
4345,12/27/2022,1.0,ppb,1,Sulfur dioxide,New York,Steuben
4346,12/28/2022,1.9,ppb,1,Sulfur dioxide,New York,Steuben
4347,12/29/2022,0.8,ppb,0,Sulfur dioxide,New York,Steuben
4348,12/30/2022,0.4,ppb,0,Sulfur dioxide,New York,Steuben
4349,12/31/2022,0.1,ppb,0,Sulfur dioxide,New York,Steuben